body {
  font-family: "Montserrat", sans-serif;
  color: #3e356a;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.header {
  position: relative;
  margin-top: 40px;
  z-index: 9999;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 15px;
  list-style: none;
  padding: 0;
}

.header__nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #3e356a;
  transition: 0.5s;
}

.header__nav__link:hover {
  color: #5f5694;
  transition: 0.5s;
}

.header__controls {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

section {
  margin-top: 60px;
}

.slider__content {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #d2cfe4;
  border-radius: 32px;
  padding: 16px;
  box-shadow: 5px 5px 10px #d2cfe4;
}

.slider__content__text {
  padding: 24px;
  color: #000;
}

.slider__content__text__head {
  font-size: 58px;
  font-weight: 600;
  margin: 0;
}

.slider__content__text__element {
  vertical-align: top;
  margin-bottom: 20px;
}

.slider__content__text__choise {
  width: 170px;
  height: 50px;
  border-radius: 200px;
  font-size: 19px;
  font-weight: 400;
  display: block;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.slider__content__text__choise:hover {
  background-color: #989595;
  transition: 0.5s;
}

.slider__content__text__choise:active {
  background-color: #666464;
}

.slider__content__image {
  width: 100%;
  height: 500px;
  position: relative;
}

.slider__content__image img {
  position: absolute;
  bottom: 10px;
}

.slider__content__footer {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 350px;
  gap: 30px;
}

.slider__content__line {
  width: 194px;
  height: 3px;
  background-color: #fff;
}

.slider__content__line {
  width: 194px;
  height: 3px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  opacity: 0.3;
}

.slider__content__line.first {
  opacity: 1;
}

.slider__content__line.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #3e356a;
  animation: fillLine 2s ease-in-out forwards;
}

.slider__content__line.second {
  opacity: 1;
}

.slider__content__line.second::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #3e356a;
  animation: fillLine 2s ease-in-out 2s forwards;
}

.slider__content__line.third {
  opacity: 1;
}

.slider__content__line.third::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #3e356a;
  animation: fillLine 2s ease-in-out 4s forwards;
}

@keyframes fillLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.slider__content__line.reset {
  opacity: 0.3;
}

.slider__content__line.reset::before {
  width: 0;
}

.grid__head {
  width: 1050px;
  font-size: 45px;
  font-weight: 600;
  color: #000;
}

.grid__pictures {
  display: grid;
  grid-template-columns: 640px 312px 312px;
  grid-template-rows: 470px 270px;
  gap: 16px;
}

.grid__pictures__wrapper {
  width: 100%;
  background-color: #000;
  color: white;
  border-radius: 32px;
  box-shadow: 0px 2px 10px #000;
  overflow: hidden;
}

.grid__pictures__wrapper:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.grid__pictures__wrapper:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / 3;
}

.grid__pictures__wrapper:nth-child(3) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.grid__pictures__wrapper:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
  margin-top: 34px;
}

.grid__pictures__text {
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 0 42px;
}

.grid__pictures__image {
  margin-left: 42px;
}

.grid__pictures__text__directory {
  text-align: right;
  margin: 0;
}

.grid__pictures__text__desc {
  width: 200px;
  text-align: right;
  font-weight: 400;
  margin: 0;
  font-size: 26px;
}

.grid__pictures__phones_image {
  margin: 144px 0 0 14px;
}

.grid__pictures__phones__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid__pictures__phones__text__directory {
  margin: 41px 0 0 0;
  font-size: 15px;
  text-align: center;
}

.grid__pictures__phones__text__desc {
  width: 250px;
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.grid__pictures__tablet_image {
  margin: 41px 25px 0 0;
}

.grid__pictures__tablet__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid__pictures__tablet__text__directory {
  margin: 114px 0 0 0;
  font-size: 15px;
  text-align: center;
}

.grid__pictures__tablet__text__desc {
  width: 250px;
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.grid__pictures__watch__container {
  display: flex;
}

.grid__pictures__watch__text {
  width: 175px;
  margin-top: 87px;
  text-align: right;
}

.grid__pictures__watch__text__directory {
  margin: 0;
}

.grid__pictures__watch__text__desc {
  margin: 0;
  font-size: 32px;
}

.store__head {
  width: 1050px;
  font-size: 45px;
  font-weight: 600;
  color: #000;
}

.store__content {
  display: flex;
  gap: 25px;
}

.store__content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 302px;
  box-shadow: 0px 0px 10px #0000004e;
  border-radius: 18px;
}

.store__content__card__desc {
  padding: 0 10px;
}

.store__content_card__desc__head {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}

.store__content_card__desc__text {
  color: #000;
  width: 280px;
  font-size: 14px;
}
